
.contact-container {
    background-color: #F6F7F8;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    color: #0B3B5B;
}

p .bold {
    font-weight: bold;
}
